<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content">

        <h3>ALL BLOGS</h3>
        <% 
        if (blogs.length>0)
        {%>
            <% 
            blogs.forEach (blog =>{%>
                 <a href="/blogs/<%=blog._id%>"><h4> <%= blog.title %> </h4> </a>
                <p><%= blog.snippet %></p>
                <P> <%= blog.body %> </P>
                <%}) 
            %>
        <%}
        else 
        {%>
           <p> There aren't any blogs!</p>
        <%}
        %>
    </div>
</body>
</html>